{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Periféricos <a href="/periferico/novo" class="fa fa-plus pull-right"></a></h3>

                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Equipamento</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Descrição</th>
                                <th>Nfe</th>
                                <th>Data Compra </th>
                                <th>Valor </th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for  periferico in results %}
                            <tr>
                                <td>{{ periferico.id }}</td>
                                <td>{{ periferico.Equipamentos().nome }}</td>
                                <td>{{ periferico.Equipamentos().modelo }}</td>
                                <td>{{ periferico.Equipamentos().Marca().nome }}</td>
                                <td>{{ periferico.descricao }}</td>
                                <td>{{ periferico.nfe }}</td>
                                <td>{{ periferico.data_compra }}</td>
                                <td>{{ periferico.valor }}</td>
                                <td>
                                    <a href="/periferico/editar?id={{ periferico.id }}" class="fa fa-edit text-info"></a>
                                    <a href="/periferico/deletar?id={{ periferico.id }}" class="fa fa-trash text-danger"></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}