{% extends view('app') %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nfes <a href="/nfe/novo" class="fa fa-plus pull-right"></a></h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Entrada</th>
                                <th>Número nota</th>
                                <th>Crentro de Custo</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for  nfe in results %}
                                <tr>
                                    <td>{{ nfe.id }}</td>
                                    <td>{{ nfe.data_entrada }}</td>
                                    <td>{{ nfe.nfe }}</td>
                                    <td>{{ nfe.Custo.nome }}</td>
                                    <td>
                                        <a href="nfe/nova-nf?id={{ nfe.id }}" class="fa fa-upload" ></a>
                                        <a href="nfe/deletar?id={{ nfe.id }}" class="fa fa-trash  text-danger" ></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}