{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Computador | Criar</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/computador/gravar" method="post">
                        <div class="form-group">
                            <label class="control-label" for="1">
                                Equipamento
                            </label>
                            <select class="js-example-basic-single form-control" name="computador[equipamento_id]" id="1">
                                {% for equipamento in equipamentos %}
                                    <option value="{{  equipamento.id }}"> {{ equipamento.nome }} || {{ equipamento.modelo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Placa Mãe
                                </label>
                                <input required class="form-control" id="4" placeholder="" name="computador[placa_mae]" type="text">
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Memória
                                </label>
                                <input required class="form-control" id="3" placeholder="" name="computador[memoria]" type="text">
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label" for="4">
                                    Processador
                                </label>
                                <input required class="form-control" id="6" placeholder="" name="computador[processador]" type="text">
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label" for="4">
                                    HD
                                </label>
                                <input required class="form-control" id="5" placeholder="" name="computador[hd]" type="text">
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label class="control-label" for="7">
                                Placa De Vídeo
                            </label>
                            <input required class="form-control" id="7" placeholder="" name="computador[placa_video]" type="text">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="9">
                                NFe
                            </label>
                            <input required class="form-control" id="9" placeholder="" name="computador[nfe]" type="text">
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label" for="4">
                                    Data Compra
                                </label>
                                <input required class="form-control" id="11" placeholder="" name="computador[data_compra]" type="date">
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label" for="4">
                                    Valor
                                </label>
                                <input required class="form-control" id="10" placeholder="" name="computador[valor]" type="text">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="control-label" for="4">
                                    Num Patrimônio
                                </label>
                                <input required type="text" class="form-control" name="patrimonio[num_patrimonial]">
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Serial
                                </label>
                                <input required type="text" class="form-control" name="patrimonio[serial]" >
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label" for="4">
                                    Funcionário | Setor
                                </label>
                                <select class="js-example-basic-single form-control" name="patrimonio[funcionario_id]" id="1">
                                    {% for funcionario in funcionarios %}
                                        <option value="{{  funcionario.id }}"> {{ funcionario.nome }} || {{  funcionario.Setor().nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Local
                                </label>
                                <select class="js-example-basic-single form-control" name="patrimonio[local_id]" id="1">
                                    {% for local in locais %}
                                        <option value="{{  local.id }}"> {{ local.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}