{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Computador | Criar</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/computador/atualizar" method="post">
                        <div class="form-group">
                            <label class="control-label" for="1">
                                Equipamento
                            </label>
                            <select class="js-example-basic-single form-control" name="computador[equipamento_id]" id="1">
                                <option value="{{ computador.equipamento_id }}">{{ computador.Equipamento().nome }} || {{ computador.Equipamento().modelo }}</option>
                                {% for equipamento in equipamentos %}
                                    <option value="{{  equipamento.id }}"> {{ equipamento.nome }} || {{ equipamento.modelo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Placa Mãe
                                </label>
                                <input class="form-control" id="4" placeholder="" name="computador[placa_mae]" type="text" value="{{ computador.placa_mae }}" >
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Memória
                                </label>
                                <input class="form-control" id="3" placeholder="" name="computador[memoria]" type="text" value=" {{ computador.memoria }}">
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label" for="4">
                                    Processador
                                </label>
                                <input class="form-control" id="6" placeholder="" name="computador[processador]" type="text" value="{{ computador.processador }}">
                            </div>
                            <div class="col-xs-2">
                                <label class="control-label" for="4">
                                    HD
                                </label>
                                <input class="form-control" id="5" placeholder="" name="computador[hd]" type="text" value="{{ computador.hd }}">
                            </div>
                        </div>
                        </br>
                        <div class="form-group">
                            <label class="control-label" for="7">
                                Placa De Vídeo
                            </label>
                            <input class="form-control" id="7" placeholder="" name="computador[placa_video]" type="text" value="{{ computador.placa_video }}">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="9">
                                NFe
                            </label>
                            <input class="form-control" id="9" placeholder="" name="computador[nfe]" type="text" value="{{ computador.nfe }}">
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label" for="4">
                                    Data Compra
                                </label>
                                <input class="form-control" id="11" placeholder="" name="computador[data_compra]" type="date" value="{{  computador.data_compra }}">
                            </div>
                            <div class="col-xs-6">
                                <label class="control-label" for="4">
                                    Valor
                                </label>
                                <input class="form-control" id="10" placeholder="" name="computador[valor]" type="text" value="{{ computador.valor }}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="control-label" for="4">
                                    Num Patrimônio
                                </label>
                                <input type="text" class="form-control" name="patrimonio[num_patrimonial]" value="{{ computador.Patrimonio().num_patrimonial }}">
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Serial
                                </label>
                                <input type="text" class="form-control" name="patrimonio[serial]" value="{{ computador.Patrimonio().serial }}" >
                            </div>
                            <div class="col-xs-4">
                                <label class="control-label" for="4">
                                    Funcionário | Setor
                                </label>
                                <select class="js-example-basic-single form-control" name="patrimonio[funcionario_id]" id="1">
                                    <option value="{{ computador.Patrimonio().funcionario_id }}"> {{ computador.Patrimonio().Funcionario().nome }} || {{ computador.Patrimonio().Funcionario().Setor().nome }}</option>
                                    {% for funcionario in funcionarios %}
                                        <option value="{{  funcionario.id }}"> {{ funcionario.nome }} || {{  funcionario.Setor().nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label class="control-label" for="4">
                                    Local
                                </label>
                                <select class="js-example-basic-single form-control" name="patrimonio[local_id]" id="1">
                                    <option value="{{ computador.Patrimonio().local_id }}">{{ computador.Patrimonio().Local().nome }}</option>
                                    {% for local in locais %}
                                        <option value="{{  local.id }}"> {{ local.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>

                        <input  type="hidden" name="id" value="{{ computador.id }}">
                        <button type="submit" class="btn btn-primary">
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}