{% extends view('app') %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Equipamentos <a href="/equipamento/novo" class="fa fa-plus pull-right"></a></h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Quatidade</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for  equipamento in results %}
                                <tr>
                                    <td>{{ equipamento.id }}</td>
                                    <td>{{ equipamento.nome }}</td>
                                    <td>{{ equipamento.modelo }}</td>
                                    <td>{{ equipamento.Marca.nome }}</td>
                                    <td>{{ equipamento.qtd }}</td>
                                    <td>
                                        <a href="/equipamento/editar?id={{  equipamento.id }}"  class="fa fa-edit text-info"    ></a>
                                        <a href="/equipamento/deletar?id={{ equipamento.id }}" class="fa fa-trash text-danger" ></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}