{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Patrimônios | Criar</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/patrimonio/gravar" method="post">
                        <div class="form-group">
                            <label class="control-label" for="1">
                                Número Patrimonial
                            </label>
                            <input requiere class="form-control" id="1" name="num_patrimonial" placeholder="" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="2">
                                Número Serial
                            </label>
                            <input requiere class="form-control" id="2" placeholder="" name="serial" type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="3">
                                Funcionario
                            </label>
                            <select class="js-example-basic-single form-control" name="funcionario_id" id="1">
                                {% for funcionario in funcionarios %}
                                    <option value="{{  funcionario.id }}"> {{ funcionario.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="4">
                                Local
                            </label>
                            <select class="js-example-basic-single form-control" name="local_id" id="1">
                                {% for local in locais %}
                                    <option value="{{  local.id }}"> {{ local.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="4">
                                Categoria
                            </label>
                            <select class="js-example-basic-single form-control" name="local_id" id="1">
                                {% for categoria in categorias %}
                                    <option value="{{  categoria.id }}"> {{ categoria.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}