{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Patrimônios </h3>

                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Patrimonio</th>
                                <th>Equipamento</th>
                                <th>Serial</th>
                                <th>Funcionario</th>
                                <th>Local</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for patrimonio in results %}
                            <tr>
                                <td>{{ patrimonio.id }}</td>
                                <td>{{ patrimonio.num_patrimonial }}</td>
                                <td>{{ patrimonio.Item.Equipamento.Categoria.nome }} || {{ patrimonio.Item.Equipamento.nome }}</td>
                                <td>{{ patrimonio.serial }}</td>
                                <td>{{ patrimonio.Funcionario().nome }} || {{ patrimonio.Funcionario().Setor().nome }}</td>
                                <td>{{ patrimonio.Local().nome }}</td>
                                <td>R$ {{ patrimonio.Item.valor }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}