{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Monitor | Editar</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/monitor/atualizar" method="post">
                        <div class="form-group">
                            <label class="control-label" for="1">
                                Equipamento
                            </label>
                            <select class="js-example-basic-single form-control" name="monitor[equipamento_id]" id="1">
                                <option value="{{  monitor.Equipamento().id }}"> {{ monitor.Equipamento.nome }} || {{ monitor.Equipamento.modelo }}</option>
                                {% for equipamento in equipamentos %}
                                    <option value="{{  equipamento.id }}"> {{ equipamento.nome }} || {{ equipamento.modelo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="3">
                                Tela
                            </label>
                            <input required class="form-control" id="3" placeholder="" name="monitor[tela]" type="text" value="{{ monitor.tela }}">
                        </div>

                            {% include('patrimonio/_inputs_patrimonio.code.twig') %}

                        <input name="id" type="hidden" value="{{  monitor.id }}">
                        <button type="submit" class="btn btn-primary">
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}