{% extends view('app') %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Monitores <a href="/monitor/novo" class="fa fa-plus pull-right"></a></h3>

                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Equipamento</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Tela</th>
                                <th>NFe</th>
                                <th>Data Compra</th>
                                <th>Valor</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for monitor in results %}
                                <tr>
                                    <td>{{ monitor.id }}</td>
                                    <td>{{ monitor.Equipamento().nome }}</td>
                                    <td>{{ monitor.Equipamento().modelo }}</td>
                                    <td>{{ monitor.Equipamento().Marca().nome  }}</td>
                                    <td>{{ monitor.tela }}</td>
                                    <td>{{ monitor.nfe }}</td>
                                    <td>{{ monitor.data_compra }}</td>
                                    <td>{{ monitor.valor }}</td>
                                    <td>
                                        <a href="/monitor/duplicar?id={{ monitor.id }}" class="fa fa-share-alt text-info"></a>
                                        <a href="/monitor/editar?id={{ monitor.id }}" class="fa fa-edit text-info"></a>
                                        <a href="/monitor/deletar?id={{ monitor.id }}" class="fa fa-trash text-danger"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}