<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../assets/images/miniLogo.png">

    <title>{Start By Code&Code}</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Logo</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <div class="dropdown navbar-brand">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="fa fa-fw fa-navicon"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if guest() == true %}

                            {{ include(view('auth._infologin')) }}

                        {% else %}

                            <li>
                                <a href="/auth"> Login <i class="fa fa-fw fa-user pull-right"></i></a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right"></ul>
    </div>
</div>

    {% if guest() == true %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-justified nav-pills">
                        <li class="active">
                            <a href="/funcionario">Funcionarios</a>
                        </li>
                        <li >
                            <a href="index.html">Periféricos</a>
                        </li>
                        <li >
                            <a href="../computadores/index.html">Computadores</a>
                        </li>
                        <li>
                            <a href="../monitores/index.html"> Monitores </a>
                        </li>
                        <li>
                            <a href="../patrimonios/índex.html"> Patrimônios </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="section">


        <div class="container">
            {% if success %}
                <div class="alert alert-success">
                    SUCESSO! {{ success }}
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">
                    Erro! {{ error }}
                </div>
            {% endif %}

            {% if info %}
                <div class="alert alert-info">
                    Ops! {{ info }}
                </div>
            {% endif %}

            {% if warning %}
                <div class="alert alert-warning">
                    Humm! {{ warning }}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Controle Equipamentos</h1>
                    <p>
                        Esse sistema serve exclusivamente para control de equipamentos empresariais. <br>
                        Colaboradores : Adriano Vianna, Angelo Biscola
                    </p>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                         <img src="../../assets/images/miniLogo.png"> Direitos Autorais © 2016 - <a href="http://codeandcode.com.br" target="_blank">{ Code&Code }</a>. Todos os direitos reservados ®. | <a href="https://github.com/code-and-code/start" class="text-warning">DOCS</a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-single").select2();
    });
</script>
</body>
</html>
