<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">

    <title>Controle</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Logo</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            {% if guest() == true %}

                <li><a href="/setor">Setores</a></li>
                <li><a href="/categoria">Categorias</a></li>
                <li><a href="/local">Locais</a></li>
                <li><a href="/marca">Marcas</a></li>
                <li><a href="/equipamento">Equipamentos</a></li>
                <li><a href="/custo">Centro de custo</a></li>
            {% endif %}

            <li class="">
                <div class="dropdown navbar-brand">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="fa fa-fw fa-navicon"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% if guest() == true %}

                            {{ include(view('auth._infologin')) }}

                        {% else %}

                            <li>
                                <a href="/login/entrar"> Login <i class="fa fa-fw fa-user pull-right"></i></a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right"></ul>
    </div>
</div>

    {% if guest() == true %}


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-justified nav-pills">
                        <li>
                            <a href="/funcionario">Funcionarios</a>
                        </li>
                        <li >
                            <a href="/periferico">Periféricos</a>
                        </li>
                        <li >
                            <a href="/computador">Computadores</a>
                        </li>
                        <li>
                            <a href="/monitor"> Monitores </a>
                        </li>
                        <li>
                            <a href="/licenca"> Licenças </a>
                        </li>
                        <li>
                            <a href="/patrimonio"> Pratimonios </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    {% endif %}

    <div class="section">

        <div class="container">

            {% if hasMessages() == true %}
                {{ display() }}
            {% endif %}

            {% if success %}
                <div class="alert alert-success">
                    SUCESSO! {{ success }}
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">
                    Erro! {{ error }}
                    <a href="/log/error?code={{ code }}">Ver ERROR</a>
                </div>
            {% endif %}

            {% if info %}
                <div class="alert alert-info">
                    Ops! {{ info }}
                </div>
            {% endif %}

            {% if warning %}
                <div class="alert alert-warning">
                    Humm! {{ warning }}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="section section-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Controle Equipamentos</h1>
                    <p>
                        Esse sistema serve exclusivamente para controle de equipamentos empresariais. <br>
                        Colaboradores : <a href="https://github.com/adrianosilvavianna" target="_blank" style="color: #ffffff">Adriano Vianna</a>, <a href="https://github.com/angelobiscola" target="_blank" style="color: #ffffff">Angelo Biscola</a>
                    </p>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                         <img src="../../assets/images/miniLogo.png"> Direitos Autorais © 2016 - <a href="http://codeandcode.com.br" target="_blank" style="color: #ffffff">{ Code&Code }</a>. Todos os direitos reservados ®. | <a href="https://github.com/code-and-code/start" class="text-warning">DOCS</a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {

        $(".js-example-basic-single").select2({
            placeholder: "Selecione",
        });

        $('.table').DataTable({

            dom: 'Bfrtip',
            buttons: [
               'csv', 'excel', 'pdf', 'print'
            ],
            "oLanguage": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });

    });
</script>
</body>
</html>




